:root {
    --limeGreen: hsl(163, 72%, 41%);
    --brightRed: hsl(356, 69%, 56%);
    --facebook: hsl(208, 92%, 53%);
    --twitter: hsl(203, 89%, 53%);
    --instagram: linear gradient hsl(37, 97%, 70%) to hsl(329, 70%, 58%);
    --youtube: hsl(348, 97%, 39%);
    --darkBg: linear gradient hsl(210, 78%, 56%) to hsl(146, 68%, 55%);
    --lightBg: hsl(230, 22%, 74%);

    /* Dark Theme */
    --darkBg: hsl(230, 17%, 14%);
    --darkTopBg: hsl(232, 19%, 15%);
    --darkCardBg: hsl(228, 28%, 20%);
    --darkCardText: hsl(228, 34%, 66%);

    /* Light Theme */
    --bg: hsl(0, 0%, 100%);
    --topBg: hsl(225, 100%, 98%);
    --cardBg: hsl(227, 47%, 96%);
    --cardText: hsl(228, 12%, 44%);
    --cardNum: hsl(230, 17%, 14%);
}



.attribution { 
    font-size: 11px; 
    text-align: center; 
}
    
.attribution a {
    color: hsl(228, 45%, 44%); 
}