:root {
    --limeGreen: hsl(163, 72%, 41%);
    --brightRed: hsl(356, 69%, 56%);
    --facebook: hsl(208, 92%, 53%);
    --twitter: hsl(203, 89%, 53%);
    --instagram: linear-gradient(to right, hsl(37, 97%, 70%), hsl(329, 70%, 58%));
    --youtube: hsl(348, 97%, 39%);
    --darkBg: linear gradient hsl(210, 78%, 56%) to hsl(146, 68%, 55%);
    --lightBg: hsl(230, 22%, 74%);

    /* Dark Theme */
    --bgDark: hsl(230, 17%, 14%);
    --topBgDark: hsl(232, 19%, 15%);
    --cardBgDark: hsl(228, 28%, 20%);
    --cardTextDark: hsl(228, 34%, 66%);

    /* Light Theme */
    --bg: hsl(0, 0%, 100%);
    --topBg: hsl(225, 100%, 98%);
    --cardBg: hsl(227, 47%, 96%);
    --text: hsl(228, 12%, 44%);
    --darkText: hsl(230, 17%, 14%);
}

body {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    background-color: var(--bg);
    margin: 0;
    padding: 0;
    font-size: 14px;
}

#top-bg {
    width: 100%;
    height: 30vh;
    background-color: var(--topBg);
}

#container {
    width: 80%;
    height: 100vh;
    margin: auto; 
    /* background-color: red; */
}

#content {
    width: 80%;
    position: absolute;
    top: 2%;
    display: flex;
    flex-direction: column;
}

#upper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.heading {
    color: var(--darkText);
    margin: 1.5rem 0 0 0;
}

.sub-heading {
    color: var(--text);
    font-weight: 700;
    margin: .5rem 0 0 0;
}

hr {
    display: none;
}

.main-row {
    margin: 3rem 0 0 0;
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(4, 1fr); 
}

.main-row .box {
    width: 100%;
    min-height: 210px;
    height: auto;
    color: var(--text);
    background-color: var(--cardBg);
    margin: 0;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-row .box:nth-child(1) {
    border-top: 5px solid var(--facebook);
}
.main-row .box:nth-child(2) {
    border-top: 5px solid var(--twitter);
}
.main-row .box:nth-child(3) {
    border-width: 5px 0 0 0;
    border-style: solid;
    border-image: var(--instagram) 50;      
}
.main-row .box:nth-child(4) {
    border-top: 5px solid var(--youtube);
}

.box .handle {
    flex-grow: 1;
    font-weight: 700;
    margin: 0;
    display: flex;
    align-items: flex-end;
}

.box .handle .social-icon {
    margin: 0 .5rem 0 0;
}

.box .followers {
    flex-grow: 1;
    color: var(--darkText);
    font-size: 3.5rem;
    font-weight: 700;
    margin: 0;
    display: flex;
    align-items: flex-end;
}

.box .followers-text {
    flex-grow: 1;
    text-transform: uppercase;
    letter-spacing: .2rem;
    display: flex;
    align-items: flex-start;
}

.box .update {
    flex-grow: 1;
    color: var(--limeGreen);
    font-weight: 700;
    margin: 0;
    display: flex;
    align-items: flex-start;
}

.overview {
    width: 100%;
}

.overview .heading {
    color: var(--text);
    margin: 3rem 0 1rem 0;
}

.sub-row {
    display: grid;
    gap: 1.5rem 2rem;
    grid-template-columns: repeat(4, 1fr);

}

.sub-row .box {
    height: auto;
    min-height: 130px;
    background-color: var(--cardBg);
    box-sizing: border-box;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.sub-row .box .title {
    /* background-color: red; */
    margin: 0;
    color: var(--text);
    font-weight: 700;
    display: flex;
    align-items: center;
    padding: 1rem 0 0 1.5rem;
}

.sub-row .box .wrapper {
    /* background-color: yellow; */
    margin: 0;
    padding: 1rem 0 0 0;
    display: flex;
    align-items: center;
}

.wrapper .social-icon {
    padding: 0 0 0 1rem;
}

.sub-row .box .stats {
    /* background-color: skyblue; */
    margin: 0;
    color: var(--darkText);
    font-weight: 700;
    font-size: 2rem;
    display: flex;  
    align-items: center;
    padding: 0 0 1rem 1.5rem;
}

.sub-row .box .update {
    /* background-color: silver; */
    margin: 0;
    display: flex;
    align-items: center;
    padding: 0 0 1rem 0;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}
    
.attribution a {
    color: hsl(228, 45%, 44%); 
}

@media screen and (max-width: 992px) {
    .main-row, .sub-row {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 576px) {
    #top-bg {
        height: 40vh;
    }
    #upper {
        flex-direction: column;
        align-items: flex-start;
    }
    hr {
        display: block;
        border: 0;
        width: 100%;
        height: 1px;
        background-color: rgba(0, 0, 0, .4);
        margin: 1.5rem 0;
    }
    .main-row,.sub-row{
        grid-template-columns: repeat(1, 1fr);
    }
}